
# Core
packaging
wheel
torch
python-dotenv
numpy
scipy
pandas
requests
evaluate
python-multipart
scikit-learn
# Web backend (si tu utilises FastAPI/Flask, sinon à ignorer)
fastapi
uvicorn
slowapi
# Optional: pretty printing, progress bars, etc.
tqdm
aenum
transformers
accelerate
bitsandbytes
unsloth
unsloth-zoo
wandb
# Pour compatibilité ancienne
protobuf<=7.35.1
openai
anthropic
mistralai