.idea/colle.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
/Benchmarks
/__pycache__
config.py
.env
/Loaded_Models
/results
/hf_data
