# Core
python-dotenv
numpy
scipy
pandas
requests

# Machine learning & NLP
transformers
datasets
huggingface_hub
accelerate
torch

# LightEval (assure-toi d’avoir cette version ou repo local si modifié)
lighteval
bitsandbytes
more_itertools
vllm

#Anthropic pour calls Claude
anthropic
# Web backend (si tu utilises FastAPI/Flask, sinon à ignorer)
fastapi
# uvicorn

# Optional: pretty printing, progress bars, etc.
tqdm
aenum

# Pour compatibilité ancienne
protobuf<=3.20.3
